SECRET_KEY=your-secret-key-here
DEBUG=False
DB_NAME=bloodlink_db
DB_USER=your-db-username
DB_PASSWORD=your-db-password
DB_HOST=your-db-host
DB_PORT=3306
AT_USERNAME=sandbox
AT_API_KEY= atsk_a0afd8eab23bf0e06d12832688770d25b66e9e8e204e0dc1538447dfe6b9c94b3cc397aa
AT_SENDER_ID=BloodLink
VAPID_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----
MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgHNva3YhPFLh6D5RE
GTNfECpQRfjpV1nBnRaQrcLKnQehRANCAARodyHIFLZJN2I5U6WOzUeUa8mphCsh
jgFQJ34mwD2M6jYJk9w9LGyrCnZN1b0mYzKIpuJ8R5R/VqO8PhHZDriV
-----END PRIVATE KEY-----
VAPID_PUBLIC_KEY=BGh3IcgUtkk3YjlTpY7NR5RryamEKyGOAVAnfibAPYzqNgmT3D0sbKsKdk3VvSZjMoim4nxHlH9Wo7w-EdkOuJU=
VAPID_CLAIMS_EMAIL=admin@bloodlink.ug
